# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /
                                                                                                                                                                 
# Protect hidden files from being viewed                                                                                                                         
<Files .*>                                                                                                                                                       
        Order Deny,Allow                                                                                                                                         
        Deny From All                                                                                                                                            
</Files>                                                                                                                                                         

# Upload bigger files
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_input_time 420
php_value max_execution_time 420
php_value memory_limit 20M
LimitRequestBody 20000000

# If file exists in the files dir show it
RewriteRule ^f/(.*)$ files/$1 [QSA,L] 
                                                                                                                                                                 
                                                                                                                                                                 
# Allow any files or directories that exist to be displayed directly                                                                                             
RewriteCond %{REQUEST_FILENAME} !-f                                                                                                                              
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^(.*)$ index.php [QSA,L]

