<?php

define ( 'APP_PATH', realpath ( dirname ( __FILE__ ) . '/app' ) );
define ( 'LIB_PATH', realpath ( dirname ( __FILE__ ) . '/lib' ) );

define ( 'FLIGHT_PATH', LIB_PATH . '/flight' );
define ( 'PARIS_PATH', LIB_PATH . '/paris' );
define ( 'MARKDOWN_PATH', LIB_PATH. '/php-markdown' );
define ( 'PLAYA_PATH', LIB_PATH . '/playa' );
define ( 'HYBRIDCACHE_PATH', LIB_PATH .'/HybridCache/vendor' );

require FLIGHT_PATH.'/Flight.php';
require PARIS_PATH.'/paris.php';
require MARKDOWN_PATH.'/markdown.php';
require PLAYA_PATH.'/playa.php';
require HYBRIDCACHE_PATH.'/lib/init.php';

set_include_path(get_include_path() . PATH_SEPARATOR . FLIGHT_PATH);
set_include_path(get_include_path() . PATH_SEPARATOR . APP_PATH);
set_include_path(get_include_path() . PATH_SEPARATOR . APP_PATH . '/model');

Flight::set('flight.lib.path', APP_PATH);
Flight::set('flight.views.path', APP_PATH.'/view');



/****  CONFIGURE YOUR DOMAIN AND DB HERE  ****/ 


define ( 'SITE_TITLE', 'My F2P node' );
define ( 'SITE:DESCRIPTION', 'Another Flight to Paris node' );
define ( 'DOMAIN', 'localhost' );

ORM::configure('mysql:host=localhost;dbname=f2p');
ORM::configure('username', 'root');
ORM::configure('password', '');


/****  AND DOWN THE RABBIT HOLE  ****/



define ( 'PAGESIZE', 30 );



## LINK TYPES DON'T CHANGE IF YOU WANT TO SINC RELATIONS ##

define ( 'SITE_URI', 'http://'.DOMAIN );
define ( 'REPLY_URI', SITE_URI.'/reply');
define ( 'AUTHOR_URI', 'dc:creator' );

$allowed_formats = array('html','rss','json','rdf','md');

## Cache configuration

define ( 'CACHE_ENABLED', true );
define ( 'CACHE_EXPIRE_TIME', 3600*2 ); // 2 Hours
define ( 'CACHE_EXPIRE_WAITING', 1 ); // 1 second

## Configure Cache meadias:

use Hybrid\Cache as HybridCache;
use Hybrid\Storages\Disk as DiskSorage;

HybridCache::addStorageMedia(new DiskSorage(dirname(__FILE__).'/cache'));
